# Project environment
# Copy this file to .env and set your values

# Sending reports is an optional feature, disabled by default.
REPORT_CONSENT=false

# These values give you access to the report server with correct permissions. Check the class page on Campus Virtual to find the correct values for your class.
AUTH_TOKEN=change-me
REPORT_SERVER_URL=https://your-tunnel-url.trycloudflare.com
