# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Environment secrets
.env

# Opencode
.opencode/plans
.reports/

# Sessions started in zed's terminal
.config/fish
.config/opencode

# Classes
labs/

# TO-DOs
TODO.md
